Source: cef
Priority: optional
Maintainer: Taehwan Kim <taehwan@nemoux.net>
Build-Depends: debhelper (>=9), build-essential, cmake, libstdc++-6-dev, libgtk2.0-dev, libgtkglext1-dev, libgconf2-dev, libasound2-dev, libnss3-dev, libxss-dev, libxtst-dev
Standards-Version: 3.9.8
Section: libs
Homepage: https://bitbucket.org/chromiumembedded/cef-project
Vcs-Git: https://bitbucket.org/chromiumembeddedcef-project.git
Vcs-Browser: https://bitbucket.org/chromiumembeddedcef-project/src

Package: cef
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: cef libraries
    cef library

Package: cef-dev
Section: libdevel
Architecture: any
Priority: extra
Depends: cef (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: cef development files
    cef library

Package: cef-dbg
Section: debug
Architecture: any
Priority: extra
Depends: cef (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: cef debugging symbols
    cef library
